$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
);

$primary: #ffae2d;
$light: #ffead0;
$dark: #261c0f;
$body-bg: #ffe9ce;
$body-color: #23190dd7;
$body-emphasis-color: #23190d;

.navbar {
  .navbar-nav {
    .nav-link {
      color: transparentize($color: $light, $amount: 0.4);
    }
    .nav-link:hover {
      color: $light;
    }
    .nav-link.active {
      color: $light;
    }
  }
}

.hero {
  position: relative;
  background: url("../assets/hero.webp") no-repeat center;
  background-size: cover;
  color: $light;

  .container {
    position: relative;
    z-index: 1;
  }

  p {
    color: transparentize($color: $light, $amount: 0.15);
  }
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.766);
  backdrop-filter: blur(3px);
}

@import "../node_modules/bootstrap/scss/bootstrap";
